<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue 3</title>

    <script src="https://unpkg.com/vue@3.2.26"></script>

    <style>
        .box {
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <h1>Hello, Vue 3 </h1>

    <div id="app">
        <div v-if="showBooks">
            <!-- (v-if) if false, it will be remove from DOM --->
            <p>{{title}} - {{author}} - {{age}}</p>
        </div>

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>


        <div v-show="showBooks">Currently showing books</div>
        <!-- (v-show) if false, it will not be remove from DOM. It's mechanism CSS block property --->

        <br>
        <!-- mouse events -->
        <div class="box" @mouseover="handleEvents($event, 5)">Mouse Over (enter)</div>
        <div class="box" @mouseleave="handleEvents">Mouse Leave</div>
        <div class="box" @dblclick="handleEvents">Double Click</div>
        <div class="box" @mousemove="handleMouseMove">Position - X={{x}} , Y={{y}}</div>
    </div>

    <script src="app.js"></script>
</body>

</html>